.content {
    display: flex;
    margin: 10px 30px;
    justify-content: space-between;
    border-bottom: 2px black solid;
    padding: 5px;
    align-items: center;
  }
  
  .smallTitle {
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .contentText {
    width: 270px;
  }

  .gradient-button {
    margin: 10px;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(to right, #6d6065 0%, #443939 51%, #040404 100%)
  }
  .gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-position: right center;
  }