.base {
  display: block;
  border: black 3px solid;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 450px;
  background-color: darkviolet;
}

.baseHead {
  height: 70px;
  background-image: url('../src/img/pen.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mainSheet {
  background-color: burlywood;
  margin: 0px 7px 7px;
  height: 550px;
  border: 1px solid gray;
  box-shadow: 3px 5px 5px gray;
}

.mainTitle {
  font-style: italic;
  font-size: x-large;
  text-align: center;
}

.subText {
  color: gray;
  margin: 0px 30px;
  text-align: center;
}

.content {
  display: flex;
  margin: 10px 30px;
  justify-content: space-between;
  border-bottom: 2px black solid;
  padding: 5px;
  align-items: center;
}

.smallTitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.contentText {
  width: 270px;
}

.rndBtn {
  padding: 5px;
  background-color: aqua;
  border: none;
  box-shadow: 3px 3px 5px gray;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-size: medium;
}

.bottom {
  margin: 10px 30px;
  padding: 5px 5px 0px 5px;
  text-align: center;
  border: 2px solid black;
  font-style: italic;
  font-weight: bold;
  height: 120px;
}