.base {
  display: block;
  border: black 3px solid;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 450px;
  background-image: url("../src/img/holder.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.baseHead {
  height: 70px;
  background-image: url('../src/img/pen.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mainSheet {
  background-image: url("../src/img/paper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 7px 7px;
  height: 550px;
  border: 1px solid gray;
  box-shadow: 3px 3px 3px gray;
}

.mainTitle {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.subText {
  color: gray;
  margin: 0px 30px;
  text-align: center;
}

.contentGroup {
  height: 350px;
}

.content {
  display: flex;
  margin: 10px 30px;
  justify-content: space-between;
  border-bottom: 2px black solid;
  padding: 5px;
  align-items: center;
}

.smallTitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.contentText {
  width: 270px;
}

.rndBtn {
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 3px 3px 5px gray;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-size: medium;
}

.gradient-button {
  margin: 10px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient(to right, #6d6065 0%, #443939 51%, #040404 100%)
}
.gradient-button:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-position: right center;
}

.bottom {
  /* margin: 10px 30px; */
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 5px 5px 0px 5px;
  text-align: center;
  border: 2px solid black;
  font-style: italic;
  font-weight: bold;
  height: 100px;
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    padding: 0;
  }

  .base {
    margin-top: 0%;
    padding-bottom: 7px;
    width: auto;
    border: none;
    border-radius: 0%;
  }

  .mainSheet {
    height: auto;
  }

}